USE [SeriesDB]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 15-04-2026 18:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[Source] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Series]    Script Date: 15-04-2026 18:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Series](
	[SeriesId] [int] IDENTITY(1,1) NOT NULL,
	[SeriesApiId] [int] NULL,
	[SeriesName] [nvarchar](250) NOT NULL,
	[SeriesType] [nvarchar](50) NULL,
	[SeriesStatus] [nvarchar](50) NULL,
	[MatchStatus] [nvarchar](50) NULL,
	[MatchFormat] [nvarchar](20) NULL,
	[SeriesMatchType] [nvarchar](50) NULL,
	[Gender] [nvarchar](20) NULL,
	[Year] [int] NULL,
	[TrophyType] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tbl_Series] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[GetSeriesReportByYears]    Script Date: 15-04-2026 18:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetSeriesReportByYears]
    @YearList NVARCHAR(MAX) -- Pass as '2024,2025,2026'
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        -- ISNULL handles the 'Total' label for the GROUPING SETS rows
        ISNULL(MatchFormat, 'Total') AS MatchFormat,
        [Year],
        Gender,
        COUNT(SeriesId) as TotalCount
    FROM tbl_Series
    -- STRING_SPLIT with TRIM handles years even if there are spaces (e.g., '2024, 2025')
    WHERE [Year] IN (SELECT TRIM(value) FROM STRING_SPLIT(@YearList, ','))
    GROUP BY GROUPING SETS (
        (MatchFormat, [Year], Gender), -- Individual row groups
        ([Year], Gender)               -- Sub-totals for the bottom green row
    )
    ORDER BY 
        -- Ensures 'Total' rows appear at the bottom of each year group
        CASE WHEN MatchFormat IS NULL THEN 1 ELSE 0 END, 
        [Year],
        MatchFormat;
END
GO
/****** Object:  StoredProcedure [dbo].[prcTblSeriesDelete]    Script Date: 15-04-2026 18:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prcTblSeriesDelete]
    @SeriesId INT
AS
BEGIN
    DELETE FROM tbl_Series WHERE SeriesId = @SeriesId
END
GO
/****** Object:  StoredProcedure [dbo].[prcTblSeriesSearch]    Script Date: 15-04-2026 18:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[prcTblSeriesSearch]
(
    @SeriesApiId INT = NULL,
    @SeriesName NVARCHAR(250) = NULL,
    @SeriesType NVARCHAR(50) = NULL,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL,
	@SeriesId INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        SeriesId,
        SeriesApiId,
        SeriesName,
        SeriesType,
        SeriesStatus,
        MatchStatus,
        MatchFormat,
        SeriesMatchType,
        Gender,
        Year,
        TrophyType,
        StartDate,
        EndDate,
        IsActive,
        Description,
        CreatedDate,
        UpdatedDate
    FROM tbl_Series
    
	WHERE (@SeriesId IS NULL OR @SeriesId = 0 OR SeriesId = @SeriesId)
       AND  (@SeriesApiId IS NULL OR @SeriesApiId = 0 OR SeriesApiId = @SeriesApiId)
        AND (@SeriesName IS NULL OR @SeriesName = '' OR SeriesName LIKE '%' + @SeriesName + '%')
       AND (@SeriesType IS NULL OR @SeriesType = '' OR SeriesType = @SeriesType)
        AND (@StartDate IS NULL OR StartDate >= @StartDate)
        AND (@EndDate IS NULL OR EndDate <= @EndDate)
    ORDER BY SeriesId DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[prcTblSeriesUpdate]    Script Date: 15-04-2026 18:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prcTblSeriesUpdate]
    @SeriesId INT,
	@SeriesApiId INT,
    @SeriesName NVARCHAR(200),
    @SeriesType NVARCHAR(100),
    @SeriesStatus NVARCHAR(100) = NULL,
    @MatchStatus NVARCHAR(100) = NULL,
    @MatchFormat NVARCHAR(100) = NULL,
    @SeriesMatchType NVARCHAR(100) = NULL,
    @Gender NVARCHAR(50),
    @Year INT,
    @TrophyType NVARCHAR(100) = NULL,
    @StartDate DATETIME,
    @EndDate DATETIME,
    @IsActive BIT,
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
   SET NOCOUNT ON;

    UPDATE tbl_Series
    SET
        SeriesName = @SeriesName,
        SeriesType = @SeriesType,
        SeriesStatus = @SeriesStatus,
        MatchStatus = @MatchStatus,
        MatchFormat = @MatchFormat,
        SeriesMatchType = @SeriesMatchType,
        Gender = @Gender,
        Year = @Year,
        TrophyType = @TrophyType,
        StartDate = @StartDate,
        EndDate = @EndDate,
        IsActive = @IsActive,
        Description = @Description,
        UpdatedDate = GETDATE()
    WHERE SeriesId = @SeriesId;
END;
GO
/****** Object:  StoredProcedure [dbo].[prdTblSeriesInsert]    Script Date: 15-04-2026 18:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[prdTblSeriesInsert]
(
    @SeriesName NVARCHAR(250),
    @SeriesType NVARCHAR(50),
    @SeriesStatus NVARCHAR(50),
    @MatchStatus NVARCHAR(50),
    @MatchFormat NVARCHAR(20),
    @SeriesMatchType NVARCHAR(50),
    @Gender NVARCHAR(20),
    @Year INT,
    @TrophyType NVARCHAR(100),
    @StartDate DATE,
    @EndDate DATE,
    @IsActive BIT,
    @Description NVARCHAR(500)
)
AS
BEGIN

IF @@NESTLEVEL > 1 RETURN;
    SET NOCOUNT ON;

    -- Calculate ID first into a variable
    DECLARE @NextId INT;
    SELECT @NextId = ISNULL(MAX(SeriesApiId), 999) + 1 FROM dbo.tbl_Series;

  
    INSERT INTO dbo.tbl_Series (
        SeriesApiId, SeriesName, SeriesType, SeriesStatus, MatchStatus, 
        MatchFormat, SeriesMatchType, Gender, Year, TrophyType, 
        StartDate, EndDate, IsActive, Description, CreatedDate
    )
    VALUES (
        @NextId, @SeriesName, @SeriesType, @SeriesStatus, @MatchStatus, 
        @MatchFormat, @SeriesMatchType, @Gender, @Year, @TrophyType, 
        @StartDate, @EndDate, @IsActive, @Description, GETDATE()
    );
	SELECT @@ROWCOUNT;
END;


GO
